*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: var(--transition);
    font-weight: 400;
}

:root{
    --color-primary: #5260b9;
    --color-primary-variant: rgba(116, 86, 255, 0.1);;
    --color-black: #fffefe;
    --color-on-black: #ffffff;
    --color-black-variant: rgba(235, 235, 235, 0.9);;
    --color-white: #060606;
    --color-light: #5f5f5f;

    --transition: .4s ease;
}
html{
    scroll-behavior: smooth;
}
.btn{
    display: inline-block;
    font-size: 16px;
    padding: 12px 26px;
    border: 1px solid var(--color-white);
    font-weight: 400;
    line-height: 24px;
    color: rgb(34, 34, 34);
}
.btn-primary{
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: rgb(222, 220, 220);
}
.btn-primary:hover{
    background: none;
    color: var(--color-primary);
}
/* .nav-btn{
    border: 1.5px solid var(--color-primary);
    color: var(--color-primary);
} */
.nav-btn:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

.container{
    max-width: 1320px !important;
    width: 90% !important;
    margin: 0 auto;
}
.text-light{
    color: var(--black);
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    text-indent: 50px;
}
h1, h2, h3, h4{
    font-weight: 600;
}
h1{
    font-size: 50px;
    line-height: 74px;
}
h2{
    font-size: 32px;
    line-height: 46px;
}
h3{
    font-size: 26px;
    line-height: 38px;
}
h4{
    font-size: 20px;
    line-height: 30px;
}


/* ...............START NAVBAR............. */
nav{
    background: rgb(38, 38, 38);
    height: 5rem;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    color: rgb(232, 232, 232);

}
.logo span{
    color: var(--color-primary);
}
.nav-container ul{
    display: flex;
    gap: 40px;
    margin: 0;
    align-items: center;
    margin-left: 45%;
}
.nav-container ul li a{
    font-size: 14px;
    color: rgb(232, 232, 232);
}
.nav-container ul li a:hover{
    color: var(--color-primary);
}